<h1>{{ d }}</h1>

<dl>
  <td>Habilidades:</td>
  <dd>{{ descu }}</dd>

  <td>Peligrosidad:</td>
  <dd>{{ p }} %</dd>

  <td>Villanos:</td>
  <dd>{{ v }}</dd>

  <td>Metodo</td>
  <dd>{{ getPoderDescripcion() }} </dd>
</dl>

<button
  *ngIf="u !== 'Armamento y fuerza'"
  (click)="chageU()" class="btn btn-primary mx-2">
  Cambiar Habilidades
</button>

<button
  *ngIf="p !== 90"
  (click)="changeP()" class="btn btn-primary mx-2">
  Cambiar Peligrosidad
</button>

<button
  *ngIf="v !== 'El mismo'"
  (click)="changeV()" class="btn btn-primary">
  Cambiar Villanos.
</button>

<button
  (click)="resetFrom()"
  class="btn btn-primary mx-2">
  Reset
</button>
